[Desktop Entry]
Comment[en_CA]=
Comment=
Exec=rename-my-tv-series
GenericName[en_CA]=
GenericName=
Icon=rename-my-tv-series
MimeType=
Name[en_CA]=Rename My TV Series
Name=Rename My TV Series
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
